body{
  /* background-color: #0A1929; */

}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue{
  color: white;
}