body{
  /* background-color: #0A1929; */

}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue{
  color: white;
}
.quoteBox{

 width: 300px;
}
.textPage{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.quotes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}